/* General */
body {
  font-family: 'Open Sans', sans-serif !important;
  margin: 0;
  padding: 0;
}

/* h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
} */

/* Buttons */
.btn {
  /* text-transform: uppercase; */
  font-weight: 600;
}
/* Glow effect and scale on hover for both buttons */
.btn:hover {
  box-shadow: 0 0 25px #0d6efd; /* Adjust the color and size of the glow effect */
  transform: scale(1.05); /* Increase the scale value for a larger size increase */
  transition: all 0.3s ease-in-out; /* Smooth transition for the effect */
}
/* NavBar */
.navbar {
  height: 60px !important;
  /* Set the desired height for the navbar */
  position: fixed;
  /* Make navbar fixed at the top */
  z-index: 1000;
  /* Ensures the navbar stays on top of other elements */
  background-color: rgba(250, 245, 245, 0.5) !important;
    backdrop-filter: blur(8px) !important;
    height: 60px; /* Set the desired height for the navbar */
    position: fixed; /* Make navbar fixed at the top */
}

.navbar a {
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar img {
  max-height: 50px;
}

.navbar-brand {
  display: flex; /* Use flex display to control the layout */
  align-items: center; /* Align items vertically within the flex container */
}

.navbar-brand img {
  margin-right: 10px; /* Add space on the right of the logo image */
}

.navbar-brand span {
  padding-left: 10px; /* Add space on the left of the text */
  padding-right: 10px; /* Add space on the right of the text */
}

.navbar img:hover {
  transform: scale(1.2);
  transition: transform 0.3s, text-shadow 0.3s, padding-left 0.3s, text-decoration 0.3s,
    text-decoration-thickness 0.3s, letter-spacing 0.3s;
}

.nav-link:hover {
  text-decoration: underline; 
  text-decoration-thickness: 0.2em;
  letter-spacing: 0.1em;
  transform: scale(1.1);
  transition: transform 0.3s, text-shadow 0.3s, padding-left 0.3s, text-decoration 0.3s,
    text-decoration-thickness 0.3s, letter-spacing 0.3s;
}

.dropdown-item:hover {
  background-color: rgba(13, 110, 253, 0.75)
  ;  /* Color with opacity */
  box-shadow: 0 0 15px #0d6efd;
  letter-spacing: 0.1em;
  transform: scale(1.1);
  transition: transform 0.3s, text-shadow 0.3s, padding-left 0.3s, text-decoration 0.3s,
    text-decoration-thickness 0.3s, letter-spacing 0.3s;
}

.space_to_right {
  width: 10%;
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

#title-page {
  padding-top: 4rem;
  padding-bottom: 1.5rem;
  background-color: #DBE9C2
}


#main-pic {
  width: 100vw;
  overflow: hidden;
}

#main-pic img {
  width: 100%;
  height: auto;
  max-width: none;
  max-height: 100%;
  display: block;
  margin: auto;
}

/* Carousel captions background */
.carousel-caption {
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.5); /* Blurred black background with 50% opacity */
  padding: 10px; /* Add padding for better readability */
  border-radius: 10px; /* Optional: Add border radius for rounded corners */
}

/* Heading style within carousel captions */
.carousel-caption h1 {
  color: white; /* Set text color to white for better visibility */
}

/* Stable image size */
.carousel-inner img {
 
  height: 500px; /* Set a fixed height for stability */
  object-fit: cover; /* Ensure images cover the entire container */
}

/* Handle 480px screen width */
@media (max-width: 480px) {
  .carousel-caption {
    text-align: center; /* Center text */
  }
  .carousel-caption h1 {
    font-size: 1.5rem; /* Adjust heading font size for smaller screens */
  }
}

#product-page {
  background-color: #DBE9C2 !important;
}

#product-page .position-relative {
  background-color: #DBE9C2 !important;
  margin: 0 !important;
}










